<div class="container">
    <div class="well form">
        <form >
            <h1 class="text-center">Métodos de solución de ecuaciones</h1>
            <div class="form-group">
                <label for="formula">Introduce la Ecuación</label>
                <input class="form-control" type="text" name="ecuacion" id="ecuacion"  [(ngModel)]="ecua">
            </div>
            <div class="form-group">
                <label for="metodo">Selecciona un método</label>
                <select name="opciones" class="form-control" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                    <option value="0">Seleccionar...</option>
                    <option value="Punto Fijo">Punto Fijo</option>
                    <option value="Bisección">Bisección</option>
                    <option value="Newton-Raphson">Newton-Raphson</option>
                    <option value="Secante">Secante</option>
                </select>
            </div><br>
            <div class="row text-center">
                <div class="col">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Seleccionar" (click)="resolver()">
                    </div>
                </div>   
                <div class="col">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="   Graficar  " (click)="graficar()">
                    </div>
                </div>            
            </div>

        </form>
        <div>
            <div id="biseccion">
                <!-- mandar una variable al componente hijo -->
                <app-biseccion [ecua]="ecua"></app-biseccion>
            </div>
            <div id="punto-fijo">
                <!-- mandar una variable al componente hijo -->
                <app-punto-fijo [ecua]="ecua"></app-punto-fijo>
            </div>
            <div id="Newton-Raphson">
                <!-- mandar una variable al componente hijo -->
                <app-newton-raphson [ecua]="ecua"></app-newton-raphson>
            </div>
            <div id="secante">
                <!-- mandar una variable al componente hijo -->
                <app-secante [ecua]="ecua"></app-secante>
            </div>
        </div>
    </div>
</div>